{% include 'head.html' %}
{% include 'nav2.html' %}
{% load i18n %}
{% block content %}
{% if validlink %}
<br/>
<br/>
<br/>
<br/>
<form method="post" action=".">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="{% trans 'Restablecer' %}"/>
</form>
{% else %}
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<section>
    <div class="row center container">
        <div class="col s12 m12 l12">
            <div data-wow-delay="0.3s" class="card-panel overview-box wow fadeIn">
                <h3>
                    Restablece tu contraseña
                    <samp>
                        <h5 align="justify" class="flow-text">
                            El link es invalido, probablemente porque ya fue usado, por favor haz un nuevo cambio de password
                        </h5>
                    </samp>
                </h3>
                <br/>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endblock %}
{% include 'js.html' %}
{% include 'footer.html' %}
