{% include 'head.html' %}
{% include 'nav2.html' %}
{% load i18n %}
{% block content %}
<br/>
<br/>
<br/>
<br/>
<br/>
<section>
    <div class="container">
        <h3 class="center">
            Restablece tu contraseña
        </h3>
    </div>
    <br/>
    <br/>
    {% if validlink %}
    <div class="container">
        <form method="post" action=".">
            {% csrf_token %}
            {{ form }}
            <button class="btn waves-effect waves-light" type="submit" name="action">
                Restablecer
                <i class="material-icons right">
                    send
                </i>
            </button>
        </form>
    </div>
    {% else %}
    <div class="row center container">
        <div class="col s12 m12 l12">
            <div data-wow-delay="0.3s" class="card-panel overview-box wow fadeIn">
                <samp>
                    <h5 align="justify" class="flow-text">
                        El link es invalido, probablemente porque ya fue usado, por favor haz un nuevo cambio de password
                    </h5>
                </samp>
                <br/>
            </div>
        </div>
    </div>
    {% endif %}
</section>
<br/>
<br/>
<br/>
<br/>
<br/>
<style type="text/css">
    .helptext{
        display: none;
    }
</style>
{% endblock %}
{% include 'js.html' %}
{% include 'footer.html' %}
