{% load material_form %}
{% load i18n %}
{% load staticfiles %}
{% include 'head.html' %}
{% include 'nav2.html' %}
{% block content %}
<div class="container center ">
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="row">
        <div class="center">
            <img class="center"  src="{% static '/img/paper-plane.svg' %}" alt="Smiley face" height="25%" width="25%"/>
        </div>
    </div>
    <p>
        Se envió un correo electrónico con instrucciones para restablecer su contraseña.
    </p>
</div>
{% endblock %}
{% include 'js.html' %}
