{% load material_form %}
{% load i18n %}
{% load staticfiles %}
{% include 'head.html' %}
{% include 'nav2.html' %}
{% block content %}
<br/>
<br/>
<br/>
<br/>
<div class="row">
    <div class="center">
        <img class="center"  src="{% static '/img/paper-plane.svg' %}" alt="Smiley face" height="25%" width="25%"/>
    </div>
</div>
<div class="row">
    <div class="center">
        <span class="">
            Usted se ha registrado. Le enviamos un correo electrónico con un enlace para activar su cuenta.
        </span>
    </div>
</div>
{% endblock %}
{% include 'js.html' %}
