{% load material_form %}
{% load i18n %}
{% include 'head.html' %}
{% include 'nav2.html' %}
{% block content %}
<br/>
<br/>
<br/>
<br/>
<div class="container">
    <div class="row">
        <div class="col s12 m12 l12">
            <h3>
                {% trans 'Regístrate' %}
            </h3>
            <form action="." method="post">
                {% csrf_token %}
	  	{% form form=form %}  {% endform %}
                <br>
                    <input class="btn" type="submit" value="{% trans 'Submit' %}"/>
                </br>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% include 'js.html' %}
{% include 'footer.html' %}
