doctype html
| {% load i18n %}
| {% load staticfiles %}
html(lang='es')
  head
    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1, user-scalable=no', name='viewport')
    link(href='https://fonts.googleapis.com/css?family=Acme', rel='stylesheet', type='text/css')
    link(href="{% static '/css/materialize.min.css' %}", rel='stylesheet')
    link(href="{% static 'home/css/web.css' %}", rel='stylesheet', type='text/css')
    link(href="{% static 'fontawesome/css/font-awesome.css' %}", rel='stylesheet')
    title
      | WashMe | Profesionales del aseo al instante
  body
    .scroll-to-top.waves-effect.waves-light.trans-effect
      a(href='#')
        i.fa.fa-arrow-up(aria-hidden='true')
    #navigation
      nav
        nav
          a.waves-effect.waves-light(href='#')
            h4(style='color:  #8bc34a')
              | Wash me
          a.button-collapse(data-activates='mobile-demo', href='#')
            i.ion-android-menu
          a.button-collapse(data-activates='slide-in', href='#')
            i.material-icons
              | Menu
          ul.right.hide-on-med-and-down
            li
              a.waves-effect.waves-light(href="{% url 'pay' %}")
                | Agendar
            li
              a.waves-effect.waves-light(href='#overview')
                | Servicios
            li
              a.nav-btn-download.waves-effect.waves-light.btn.light-green.white-text(href="{% url 'new_washer' %}")
                | ¿Estas buscando trabajo?
          ul#slide-in.side-nav
            li
              a.nav-btn-download.waves-effect.waves-light.btn.green.white-text(href="{% url 'pay' %}")
                | Agendar
            li
              a.waves-effect.waves-light(href='#overview')
                | Servicios
            li
              a.waves-effect.waves-light(href='#apoyo')
                | Apoyo
            li
              a(href="{% url 'new_washer' %}")
                | ¿Estas buscando trabajo?
      .row
        .col.m12.s12.hide-on-med-and-down
          .card-panel.white.z-depth-5.floating-form
            h5.center-align
              | ¿Necesitas Ayuda Con El Aseo?
            a.waves-effect.green.waves-light.btn.rounded.center-align(href="{% url 'pay' %}")
              | Agenda Ahora
              i.fa.fa-calendar-plus-o(aria-hidden='true')
    .slider.fullscreen
      ul.slides.back
        li
          img(src="{% static 'home/img/cleanliness-2799470_1920.jpg' %} ")
          .caption.right-align
            h3(style='color:  white;')
              | Te proveemos con gente de confianza
            h5.light.grey-text.text-lighten-3
        li
          img(src="{% static 'home/img/igu.jpg' %}")
          .caption.right-align
            h3(style='color: white;')
              | Ayúdanos a sembrar más árboles
            h5.light.grey-text.text-lighten-3
        li
          img.responsaid(src="{% static 'home/img/cleanliness-2799496_1920.jpg' %}")
          .caption.right-align
            h3(style='color: white;')
              | A tu casa u oficina, un profesional del aseo!
            h5.light.grey-text.text-lighten-3
    section#overview.overview-section.sec-padded-1x
      .container
        .row
          .col.s12.l8.offset-l2
            .center-heading
              h1
                | WashMe es..
              span.center-line.green
        .row.center
          .col.s12.m12.l12
            .card-panel.overview-box.wow.fadeIn(data-wow-delay='0.3s')
              i.fa.fa-female.fa-3x(aria-hidden='true', style='color:  #8bc34a')
              h3
                | Datos abiertos
              p
              h5
                samp
                  | Nos enorgullece tener como primera opción de afiliación a madres cabeza de hogar, de las cuales las formas de contacto inicial es a través de los datos abiertos de madres cabeza de hogar  en el atlántico.
              p
          .card-panel.overview-box.wow.fadeIn(data-wow-delay='0.3s')
            i.fa.fa-check.fa-3x(aria-hidden='true', style='color:  #8bc34a')
            h3
              | Solución
            p
            h5
              samp
                | Sabemos que puede ser difícil encontrar a alguien de confianza que mantenga muy limpia tu casa u oficina. Washme es tu mejor aliado para esa tarea. Solicita tu profesional de limpieza.
            p
          .col.s12.m12.l12
            .card-panel.overview-box.wow.fadeIn(data-wow-delay='0.3s')
              i.fa.fa-users.fa-3x(aria-hidden='true', style='color:  #8bc34a')
              h3
                | Social
              br
              p
              h5
                samp
                  | QQueremos ser apoyo y ejemplo para nuestro departamento, ya que la gran mayoría de los washers asociados son madres cabeza de hogar a las cuales les prestamos nuestra ayuda para su progreso y el de su familia.
              p
              br
          .col.s12.m12.l12
            .card-panel.overview-box.wow.fadeIn(data-wow-delay='0.4s')
              i.fa.fa-envira.trans-effect.fa-3x(aria-hidden='true', style='color:  #8bc34a')
              h3
                | Ecológico
              br
              p
              h5
                samp
                  | Nos tomamos en serio en medio ambiente, por eso cada uno de los implemento de limpieza que usan nuestros profesionales son totalmente biodegradables y amigos de la naturaleza.al solicita un servicio estas donando recursos para la reforestación y cuidado de nuestro planeta.
              p
              br
    section.light-green-3.card-panel.overview-section-box.wow.fadeIn.center
      h2
        | Agenda Ahora
      a(href="{% url 'pay' %}")
        i.fa.fa-calendar-plus-o.green(target='_blank', aria-hidden='true')
    section#apoyo.testimonials-section
      .sec-padded-1x
        .container
          .row.btm-mrgn-0
            .col.s12.l8.offset-l2
              .center-heading
                h3
                  | Apoyo
                span.center-line.green
                p
                  | Personas Grandiosas Que Confían En Nosotros.
          .row.center
            .row
              .col.s12.m4.l3
                .item
                  .testimonials-inner
                    img.materialboxed(alt='', src="{% static 'img/apollo/ne.png' %}", width='400', height='200')
                    span
                      | Neewoi
              .col.s12.m4.l3
                .item
                  .testimonials-inner
                    img.materialboxed(alt='', src="{% static 'home/img/monokuko.png' %}", width='300', height='200')
                    span
                      | Monokuko Space
              .col.s12.m4.l3
                .item
                  .testimonials-inner
                    img.materialboxed(alt='', src="{% static 'img/apollo/findeter.jpg' %}", width='300', height='200')
                    span
                      | Findeter
              .col.s12.m4.l3
                .item
                  .testimonials-inner
                    img.materialboxed(alt='', src="{% static 'img/apollo/_UsrOhWp_400x400.jpg' %}", width='300', height='200')
                    span
                      | Gobierno digital
              .col.s12.m4.l3
                .item
                  .testimonials-inner
                    img.materialboxed(alt='', src="{% static 'img/apollo/articles-47963_foto_marquesina.jpg' %}", width='400', height='200')
                    span
                      | Emprende Con Datos
              .col.s12.m4.l3
                .item
                  .testimonials-inner
                    img.materialboxed(alt='', src="{% static 'img/apollo/conexiones-digitales-vive-digital-para-la-gente.png' %}", width='400', height='200')
                    span
                      | vive-digital
              .col.s12.m4.l3
                .item
                  .testimonials-inner
                    img.materialboxed(alt='', src="{% static 'img/apollo/MinTIC_(Colombia)_logo.png' %}", width='400', height='200')
                    span
                      | MinTIC (Colombia)
              .col.s12.m4.l3
                .item
                  .testimonials-inner
                    img.materialboxed(alt='', src="{% static 'img/apollo/gobiernodecolombia_0.png' %}", width='400', height='200')
                    span
                      | Gobierno de colombia
    | {% include 'footer.html' %}
    | {% include 'js.html' %}
