{% load i18n %}
{% load staticfiles %}
{% include 'js.html' %}
<!DOCTYPE html>
<html lang="es">
    {% include 'head.html' %}
    <body>
        {% include 'nav.html' %}
        <section class="testimonials-section" id="apoyo">
            <div class="sec-padded-1x">
                <div class="row btm-mrgn-0">
                    <div class="col s12 l8 offset-l2">
                        <div class="center-heading">
                            <div class="row">
                                <div class="col s12">
                                    <ul class="tabs">
                                        <li class="tab col s6" id="agenda">
                                            <a href="#test1">
                                                Agendar
                                            </a>
                                        </li>
                                        <li class="tab col s6" id="agendado">
                                            <a  class="active"  href="#test2">
                                                Agendados
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!--1-->
                                <div class="col s12" id="test1">
                                    <form id="new_service">
                                        {% csrf_token %}
                                        <div class="row">
                                            <h2 class="center-align" id="valor">
                                                $ 29.999
                                            </h2>
                                            <span class="center-line green">
                                            </span>
                                            <div class="center">
                                                <div class=" input-field col s12 m6 l6">
                                                    <select id="id_hours" onchange="myChangeFunction()">
                                                        <option selected="" value="1">
                                                            2 horas
                                                        </option>
                                                        <option value="2">
                                                            4 horas
                                                        </option>
                                                        <option value="3">
                                                            8 horas
                                                        </option>
                                                    </select>
                                                    <label for="input_text">
                                                        Cuanto Tiempo
                                                    </label>
                                                </div>
                                                <div class=" input-field col s12 m6 l6">
                                                    <select class="validate" id="id_ciudad" required="">
                                                        <option selected="" value="1">
                                                            Barranquilla
                                                        </option>
                                                    </select>
                                                    <label for="input_text">
                                                        Ciudad
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="input-field col s12 m6 l6">
                                                <input class="validate" id="name" name="name" required="" type="text"/>
                                                <label for="name">
                                                    Como te Llamas  ?
                                                </label>
                                            </div>
                                            <div class="input-field col s12 m6 l6">
                                                <input id="id_email" required="" type="email"/>
                                                <label data-error="wrong" data-success="right" for="id_email">
                                                    Email
                                                </label>
                                            </div>
                                            <div class="input-field col s12 m6 l6">
                                                <input class="validate" id="numero" required="" type="number"/>
                                                <label for="numero">
                                                    Celular o telefono
                                                </label>
                                            </div>
                                            <div class="input-field col s12 m6 l6">
                                                <input class="validate" id="id_date" required="" type="text"/>
                                                <label for="id_date">
                                                    Que dia te podemos ayudar ?
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col m12 s12">
                                                <button class="waves-effect light-green waves-light btn rounded center-align" type="submit">
                                                    Agendar
                                                </button>
                                            </div>
                                            <br/>
                                            <br/>
                                        </div>
                                    </form>
                                    <center>
                                        <p class="center">
                                            {{ user.username }} pagando ahora un servicio de limpieza        Ecológico  para tu Casa U Oficina.
                                            <br/>
                                            Estas ayudando a reforestar  arboles  y a cuidar y preservación del Nuestro planeta.
                                            <i aria-hidden="true" class="fa fa-heart-o">
                                            </i>
                                            <br/>
                                            Barranquilla Teléfono: (5) 3602411
                                        </p>
                                    </center>
                                </div>
                                <!--1 end-->
                                <div class="" id="test2">
                                    <div class="row">
                                        <div class=" eventbuttons center ">
                                            {% for object in object_list %}
                                            <div class="col s12 m6 l6 ">
                                                <div class="card horizontal">
                                                    <div class="card-image teal lighten-2">
                                                        <div class="event">
                                                            <div class="">
                                                                <br/>
                                                                <h5 style="color: white">
                                                                    {{ object.fecha|date:"l" }}
                                                                </h5>
                                                                <h1 style="color: white">
                                                                    {{ object.fecha|date:"d" }}
                                                                </h1>
                                                                <br/>
                                                                {{ object.fecha|date:"F" }}
                                                                {{ object.fecha|date:"Y" }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-stacked">
                                                        <div class="card-content">
                                                             <p>
            Tu pedido de limpieza ecológica fue exitoso. 
te llamaremos para confirmar. 
          
                                                            </p>

                                                        </div>
                                                        <div class="card-action">
                                                            {% if object.hours.value == "30000" %}
                                                            <form method="post" action="https://gateway.payulatam.com/ppp-web-gateway/pb.zul" accept-charset="UTF-8">
  
  <input name="buttonId" type="hidden" value="SQ8MTsb/bYyXCmx6xTsefQ/RUFM/PcnGf6PJGlieP11Ctea1lnGSew=="/>
  <input name="merchantId" type="hidden" value="507148"/>
  <input name="accountId" type="hidden" value="679856"/>
  <input name="description" type="hidden" value="pakete1"/>
  <input name="referenceCode" type="hidden" value="0030"/>
  <input name="amount" type="hidden" value="30000"/>
  <input name="tax" type="hidden" value="0"/>
  <input name="taxReturnBase" type="hidden" value="0"/>
  <input name="shipmentValue" value="0" type="hidden"/>
  <input name="currency" type="hidden" value="COP"/>
  <input name="lng" type="hidden" value="es"/>
  <input name="approvedResponseUrl" type="hidden" value="http://wioclean.herokuapp.com/"/>
  <input name="declinedResponseUrl" type="hidden" value="http://wioclean.herokuapp.com/"/>
  <input name="pendingResponseUrl" type="hidden" value="http://wioclean.herokuapp.com/"/>
  <input name="displayShippingInformation" type="hidden" value="YES"/>
  <input name="sourceUrl" id="urlOrigen" value="" type="hidden"/>
  <input name="buttonType" value="SIMPLE" type="hidden"/>
  <input name="signature" value="04186a2da58ec8571b527eb543b0bdd23343701636daf5ae08958353a126ff55" type="hidden"/>
 <button class="waves-effect light-green waves-light btn rounded center-align" type="submit">
                                                                    Paga Hora
                                                                    <i class="fa fa-angle-double-right" aria-hidden="true">
                                                                    </i>
                                                                </button>
</form>
                                                            {% else %} {% if object.hours.value == "50000" %}
<form method="post" action="https://gateway.payulatam.com/ppp-web-gateway/pb.zul" accept-charset="UTF-8">
  
  <input name="buttonId" type="hidden" value="Q3pBz7hqG4XsH1w7XzbofGojQbRULogJm4tNHj6tzTd8fxbjARLPKA=="/>
  <input name="merchantId" type="hidden" value="507148"/>
  <input name="accountId" type="hidden" value="679856"/>
  <input name="description" type="hidden" value="paquete 2"/>
  <input name="referenceCode" type="hidden" value="0030"/>
  <input name="amount" type="hidden" value="50000"/>
  <input name="tax" type="hidden" value="0"/>
  <input name="taxReturnBase" type="hidden" value="0"/>
  <input name="shipmentValue" value="0" type="hidden"/>
  <input name="currency" type="hidden" value="COP"/>
  <input name="lng" type="hidden" value="es"/>
  <input name="approvedResponseUrl" type="hidden" value="http://wioclean.herokuapp.com/"/>
  <input name="declinedResponseUrl" type="hidden" value="http://wioclean.herokuapp.com/"/>
  <input name="pendingResponseUrl" type="hidden" value="http://wioclean.herokuapp.com/"/>
  <input name="displayShippingInformation" type="hidden" value="YES"/>
  <input name="sourceUrl" id="urlOrigen" value="" type="hidden"/>
  <input name="buttonType" value="SIMPLE" type="hidden"/>
  <input name="signature" value="33b0ed1fda5dce263c66b74fe9e61348ccec923961d1e4323b0e9c604bd0ed8a" type="hidden"/>
 <button class="waves-effect light-green waves-light btn rounded center-align" type="submit">
                                                                    Paga Hora
                                                                    <i class="fa fa-angle-double-right" aria-hidden="true">
                                                                    </i>
                                                                </button>
</form>

                                                            {% else %}
<form method="post" action="https://gateway.payulatam.com/ppp-web-gateway/pb.zul" accept-charset="UTF-8">
  
  <input name="buttonId" type="hidden" value="JFIdzezHWzA2xtNnxertBfS36j22YRanxKZVIe2Gh7vZo6HJaunZ+w=="/>
  <input name="merchantId" type="hidden" value="507148"/>
  <input name="accountId" type="hidden" value="679856"/>
  <input name="description" type="hidden" value="paquete 2"/>
  <input name="referenceCode" type="hidden" value="0030"/>
  <input name="amount" type="hidden" value="90000"/>
  <input name="tax" type="hidden" value="0"/>
  <input name="taxReturnBase" type="hidden" value="0"/>
  <input name="shipmentValue" value="0" type="hidden"/>
  <input name="currency" type="hidden" value="COP"/>
  <input name="lng" type="hidden" value="es"/>
  <input name="approvedResponseUrl" type="hidden" value="http://wioclean.herokuapp.com/"/>
  <input name="declinedResponseUrl" type="hidden" value="http://wioclean.herokuapp.com/"/>
  <input name="pendingResponseUrl" type="hidden" value="http://wioclean.herokuapp.com/"/>
  <input name="displayShippingInformation" type="hidden" value="YES"/>
  <input name="sourceUrl" id="urlOrigen" value="" type="hidden"/>
  <input name="buttonType" value="SIMPLE" type="hidden"/>
  <input name="signature" value="c6528b79eb34b7beee1c7031d1d1ecf04cffe8a6cf87838427a5b5046b59d4a1" type="hidden"/>
 <button class="waves-effect light-green waves-light btn rounded center-align" type="submit">
                                                                    Paga Hora
                                                                    <i class="fa fa-angle-double-right" aria-hidden="true">
                                                                    </i>
                                                                </button>
</form>
                                                    
                                                            {% endif %}
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% empty %}
                                            <div>
                                                <p>
                                                    Todavia no tienes ningun servicio agendado vamos pide el primero
                                                </p>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
{% include 'footer.html' %}
<script type="text/javascript">
    var f = new Date();
    A = f.getFullYear() + "-" + (f.getMonth() +1) + "-" +  f.getDate()    
    $('#id_date').val(A)
</script>
<script type="text/javascript">
    $('#id_date').pickadate({
selectMonths: true,//Creates a dropdown to control month
//selectYears: 15,

labelMonthNext: 'Next Month',
labelMonthPrev: 'Last Month',
//The title label to use for the dropdown selectors
labelMonthSelect: 'Select Month',
labelYearSelect: 'Select Year',
//Months and weekdays
monthsFull: [ 'enero','febrero','marzo','abril','mayo','junio','julio',
               'agosto','septiembre','octubre','noviembre','diciembre' ],
monthsShort: [ 'Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dec' ],
weekdaysFull: [ "Domingo","Lunes","Martes","Miercoles","Jueves","Viernes","Sabado" ],
weekdaysShort: [ 'Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab' ],
//Materialize modified
weekdaysLetter: [ 'D', 'L', 'M', 'M', 'J', 'V', 'S' ],
//Today and clear
today: 'Hoy',
clear: 'Limpiar',
close: 'Cerrar',
//The format to show on the `input` element
format: 'yyyy-mm-dd'
});
//Copy settings and initialization tooltipped
</script>
<script type="text/javascript">
    $(document).on('submit','#new_service',function(e){
        e.preventDefault();


        $.ajax({
            type: "POST",
            url: 'service/create',
            data:{
                hours:$('#id_hours').val(),
                ciudad:$('#id_ciudad').val(),
                name:$('#name').val(),
                email:$('#id_email').val(),
                numero:$('#numero').val(),
                date:$('#id_date').val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
            },
            success:function() {
                location.reload();

                $( "#agenda" ).removeClass( "active" );
                $( "#agendado" ).addClass( "active" );
            },
            

        });
        
    })
</script>
