{% load i18n %}
{% include 'head.html' %}
{% include 'nav2.html' %}
{% load material_form %}
{% block content %}
<br/>
<br/>
<br/>
<br/>
<div class="row center">
    <h3 class="">
        ¿ Estas Buscando trabajo ?
    </h3>
    <h5>
        Dejanos saber de ti
    </h5>
</div>
<div class="container">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% form form=form %}  {% endform %}
        <br/>
        <div class="row">
            <div  >
                <input  type="submit" value="{% trans 'Enviar' %}" class="waves-effect waves-light btn-large"/>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    


</script>
{% endblock %}
{% include 'js.html' %}
{% include 'footer.html' %}
